/classes_and_inheritance/HW_classes_and_inheritance/.vs/
/classes_and_inheritance/HW_classes_and_inheritance/Debug/
/classes_and_inheritance/HW_classes_and_inheritance/HW_classes_and_inheritance.sln
/classes_and_inheritance/HW_classes_and_inheritance/Part1/Debug/
/classes_and_inheritance/HW_classes_and_inheritance/Part1/Part1.vcxproj
/classes_and_inheritance/HW_classes_and_inheritance/Part1/Part1.vcxproj.filters
/classes_and_inheritance/HW_classes_and_inheritance/Part1/Part1.vcxproj.user
/classes_and_inheritance/HW_classes_and_inheritance/Part2/Debug/
/classes_and_inheritance/HW_classes_and_inheritance/Part2/Part2.vcxproj
/classes_and_inheritance/HW_classes_and_inheritance/Part2/Part2.vcxproj.filters
/classes_and_inheritance/HW_classes_and_inheritance/Part2/Part2.vcxproj.user
/classes_and_inheritance/HW_classes_and_inheritance/Part3/Debug/
/classes_and_inheritance/HW_classes_and_inheritance/Part3/Part3.vcxproj
/classes_and_inheritance/HW_classes_and_inheritance/Part3/Part3.vcxproj.filters
/classes_and_inheritance/HW_classes_and_inheritance/Part3/Part3.vcxproj.user
/classes_and_inheritance/HW_classes_and_inheritance/HW_classes_and_inheritance.sln
/libraries/Lab1_Libraries/.vs/
/libraries/Lab1_Libraries/Debug/
/libraries/Lab1_Libraries/Lab1_Libraries.sln
/libraries/Lab1_Libraries/DynamicLib/Debug/
/libraries/Lab1_Libraries/DynamicLib/DynamicLib.vcxproj
/libraries/Lab1_Libraries/DynamicLib/DynamicLib.vcxproj.filters
/libraries/Lab1_Libraries/DynamicLib/DynamicLib.vcxproj.user
/libraries/Lab1_Libraries/LabLibrariesSarpi/Debug/
/libraries/Lab1_Libraries/LabLibrariesSarpi/LabLibrariesSarpi.vcxproj
/libraries/Lab1_Libraries/LabLibrariesSarpi/LabLibrariesSarpi.vcxproj.filters
/libraries/Lab1_Libraries/LabLibrariesSarpi/LabLibrariesSarpi.vcxproj.user
/libraries/Lab1_Libraries/StaticLib/Debug/
/libraries/Lab1_Libraries/StaticLib/StaticLib.vcxproj
/libraries/Lab1_Libraries/StaticLib/StaticLib.vcxproj.filters
/libraries/Lab1_Libraries/StaticLib/StaticLib.vcxproj.user
/libraries/Lab1_Libraries/Lab1_Libraries.sln
